@charset "utf-8";
/* 以下实际使用若已初始化可删除 .nav height父级需逐级设置为100%*/
body,html{height: 100%;background: #E2E2E2}
body,ul{margin:0;padding:0}
body{font:14px "微软雅黑","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;} 
#all{width: 100%;margin:0 auto;overflow: hidden;}
li{list-style:none} 
a{text-decoration:none;}
/* 以上实际使用若已初始化可删除 */
/* #parentNode{height: 550px;} */
/* nav */
.nav{width: 200px;height: 100%;background: #263238;transition: all .3s;position:fixed;top: 70px;float: left;border-right: 1px solid #989191;padding-left: 0 10px;}
.nav a{display: block;overflow: hidden;line-height: 46px;max-height: 46px;color: #ABB1B7;transition: all .3s;}
.nav a span.fst-spn{padding-left: 20px;}
/* .nav .add-menu a span{margin: 0 40px;} */
.nav-item{position: relative;}
.nav-item.nav-show{border-bottom: none;}
.nav-item.nav-show a{margin:0;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.nav-item .nav-ul{display: none;background: rgba(0,0,0,.1);}
.nav-item.nav-show .nav-ul{display: block;}
.nav .nav-show .open.sub-show .add-menu{display: block;transition: .3s;}
.nav-item>a:before{content: "";position: absolute;left: 0px;width: 2px;height: 46px;background: #34A0CE;opacity:0;transition: all .3s;}
.nav .nav-icon{font-size: 30px;position: absolute;margin-left:5px;}
/* 此处修改导航图标 可自定义iconfont 替换*/
/* .icon_1::after{content: "\e62b";}
.icon_2::after{content: "\e669";}
.icon_3::after{content: "\e61d";} */
/*---------------------*/
.nav-more{float:right;margin-right: 20px;font-size: 12px;transition: transform .3s;}
.open-more{float:right;font-size: 12px;transition: transform .3s;margin-right: 20px;}
/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
/* .nav-more::after{content: "\e621";} */
/*---------------------*/
.nav-show .nav-more{transform:rotate(90deg);}
.sub-show .open-more{transform:rotate(90deg);}
.nav-show,.nav-item>a:hover{color: #FFF;background:rgba(0,0,0,.1);}
.nav-show>a:before,.nav-item>a:hover:before{opacity:1;}
.nav-item li:hover a{color: #FFF;background: rgba(0, 0, 0,.1);}
/* 三级菜单 二级菜单:hover */
.nav .open .add-menu{
    display: none;
    clear: both;
    width: auto;
    height: auto;
    /* margin: 8px 0px 0px 10px; */
    background:#222d32;
    color:#1f282d;
}
.nav .open span{
    padding-left: 50px;
}
.nav .open .add-menu span{
    padding-left: 78px;
}
.nav .nav-ul .add-menu li{
    margin: 0;
}

.nav.nav-mini .open:hover .add-menu{
    display: block;
    position: fixed;
    left: 190px;
    top: 130px;
    margin: 0;
    width: auto;
    height:531px;
    overflow-y: scroll;
    /* padding-left: 20px; */
    /* padding: 0 20px; */
    background: #3c474c;
}
/* 让滚动条隐藏 */
::-webkit-scrollbar {display:none}

.nav.nav-mini .open:hover{
    height: 46px;
}

#table_id_example tbody tr:nth-child(odd){
    background: #fbf8ec;
}
#table_id_example tbody tr:nth-child(even){
    background: #d9dfec;
}
#table_id_example tbody tr.chk{
    background: #adbbcc;
}
/* #right{
    width: 100%;
    height: 100%;
    float: left;
} */
/* 业务配置下的界面样式 */
/* #addBus .f_interface{
    padding-left: 48px;
} */
#addBus .s_interface{
    padding-left: 42px;
} 
#addBus .t_interface{
    padding:0 20px 0 110px;
}
.nav-mini #addBus .s_interface{
    padding-left: 68px;
} 
.nav-mini #addBus .t_interface{
    padding:0 20px 0 144px;
}