#new{
    width: 100%;
    overflow: hidden;
}
#new>.new_box{
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
@media screen and (max-width: 768px){
    #new>.new_box{
        padding: 15px 55px 10px 55px;
    }
}
@media (min-width: 768px) and (max-width: 1080px){
    #new>.new_box{
        padding: 15px 85px 10px 85px;
    }
}
@media (min-width: 1080px) and (max-width: 1366px){
    #new>.new_box{
        padding: 15px 100px 10px 100px;
    }
}
@media screen and (min-width: 1366px){
    #new>.new_box{
        padding: 15px 150px 10px 150px;
    }
}
.new_box::-webkit-scrollbar{
    display: none
    /* 隐藏滚动条，但依旧具备可以滚动的功能 */
}
/* .new_permit_li{
    border-bottom: 1px solid #f3ecec;
    font-size: 16px;
    font-family: "微软雅黑";
    line-height: 30px;
}
.new_permit_li h3{
    font-weight: bold;
    font-size: 25px;
    padding: 16px 0;
}
.com_department{
    font-size: 16px;
    color: #28b6d8;
    margin-right: 20px;
}
.new_permit_li h5{
    font-size: 16px;
    color: #28b6d8;
} */
.new_box .btn{
    padding: 30px 0;
}
.btn a{
    display: block;
    width: 240px;
    height: 28px;
    background: #1d48ec;
    margin: 0 auto;
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-size: 16px;
}
.btn .printing{
    background: red;
}
